	<% meta title: "Restaurant App | ThinkTech",
          description: ""          
  %>
	<% metamagic keywords: [:keywords, "", "", "", "", ""] %>    
    
    <div id="home">
    	
    	<div class="headerLine mar_topm10p">
		<%= render "/articles/menu" %>
			<div class="container pad_bot5">
				<div class="row wrap">
					<div class="col-xs-12 blog text-center">
						<h2>Restaurants App</h2>
					</div>
                </div>
			</div>
		</div>
		<div class = "container minh">
			<div class= "row">
				<div class="col-sm-12">		         	
		            <div class="blog-item">
		                <div class="row">
		                    <div class="col-xs-12 text-center">
		                        <p>Coming soon</p>
		                    </div>
		                        
		                    <div class="col-xs-12 ">
		                                                     
							</div>
		                </div>    
		            </div>
		        </div>
        	</div>
		</div>		
		
    </div>