
<!DOCTYPE html>
<html lang="en">
  	<head>

		<% meta title: "SEO & Digital Marketing | ThinkTech",
          description: "We provide SEO services as well as Digital Marketing for the web sites."          
  %>
  <% metamagic keywords: [:keywords, "SEO", "Digital Marketing", "SEO & Digital Marketing", "seo thinktech", "Search engine optimization", "Search engine optimization thinktech", "Search engine optimization Calgary", "SEO thinktech", "SEO Calgary", "Digital Marketing Calgary", "thinktech Digital Marketing", "SEO & Digital Marketing ThinkTech" ] %>

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
    
    
    <div id="home">
    	<div class="headerLine mar_topm10p">
		<%= render "/articles/menu" %>
			<div class="container pad_bot5">
				<div class="row wrap">
					<div class="col-xs-12 blog text-center">
						<h2>SEO & Digital Marketing</h2>
					</div>
                </div>
			</div>
		</div>
		<div class = "container minh">
			<div class= "row">
				<div class="col-sm-12">		         	
		            <div class="">
		                <div class="row pad_top2 pad_bot5">
		                    <div class="well">
		                    	<div class="row">
			                    <div class="col-xs-12 col-sm-12">
			                          <p>SEO is an ever-changing landscape. With smartest online strategies, and intelligent execution, we will help you own your keywords on the first page of Google and Bing search engines. It’s time to start generating more qualified leads by driving more visitors to your website.</p>
								</div>
								</div>
							</div>
							<div class="col-sm-6">
								<iframe width="560" height="315" src="https://www.youtube.com/embed/d4aijRJFOq4?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
							</div>
							<div class="col-sm-6">
								<iframe width="560" height="315" src="https://www.youtube.com/embed/rw-tlt3AnI0?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
							</div>

		                </div>    
		            </div>
		        </div>
        	</div>
		</div>		
		
    </div>

    
	</body>
	
</html>