
<!DOCTYPE html>
<html lang="en">
  	<head>

		<% meta title: "Web Development | ThinkTech",
          description: ""          
  %>
  <% metamagic keywords: [:keywords, "", "", "", "", ""] %>

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
    
    
    <div id="home">
    	<div class="headerLine mar_topm10p">
		<%= render "/articles/menu" %>
			<div class="container pad_bot5">
				<div class="row wrap">
					<div class="col-xs-12 blog text-center">
						<h2>Web Development</h2>
					</div>
                </div>
			</div>
		</div>
		<div class = "container minh">
			<div class= "row">
				<div class="col-sm-12">		         	
		            <div class="blog-item">
		                <div class="row">
		                    <div class="col-xs-12 col-sm-2 text-center">
		                        
		                    </div>
		                        
		                    <div class="col-xs-12 col-sm-10">
		                                                    
							</div>
		                </div>    
		            </div>
		        </div>
        	</div>
		</div>		
		
    </div>

    
	</body>
	
</html>