
<% if blogger_signed_in? %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
</head>

<body>

    <div id="home">
        <div class="headerLine mar_topm10p">
        <%= render "menu" %>
            <div class="container pad_bot5">
                <div class="well">
                    <div class="row wrap">

                        <div class="col-xs-12 blog text-center">
                            <h2><%= "Editing #{@article.title}" %></h2>
                        </div>
                        
                        <div class="col-xs-12">
                            <%= render "form" %>
                        </div>
                            
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

   
</body>
</html>

<% end %>